# load dataset

In [44]:
df=pd.read_csv("NEtest.csv")
df.head()

    x          y
0  77  79.775152
1  21  23.177279
2  22  25.609262
3  20  17.857388
4  36  41.849864

In [49]:
X=df["x"].values.reshape(-1,1)
y=df["y"].values

# build model

In [50]:
import W3_Assignment_Linear_Model as linear_model
import imp
imp.reload(linear_model)

In [55]:
lr=linear_model.LinearRegression(fit_intercept=True)

In [56]:
lr.fit(X, y)

In [57]:
lr.intercept

-0.46181077366111367

In [58]:
lr.coef

array([1.01433536])

In [59]:
lr.predict(X)[:10]

array([77.64201157, 20.83923168, 21.85356704, 19.82489633, 36.05426201,
       14.75321955, 62.42698124, 95.90004796, 19.82489633,  4.609866  ])

# validation using sklearn

In [70]:
from sklearn import linear_model
sk_lr=linear_model.LinearRegression(normalize=False)
sk_lr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [71]:
import numpy.testing as npt
npt.assert_almost_equal(sk_lr.intercept_, lr.intercept)
np.isclose(lr.coef, sk_lr.coef_)

array([ True])

In [72]:
print(sk_lr.intercept_, lr.intercept)

-0.4618107736611776 -0.46181077366111367

In [73]:
print(sk_lr.coef_, lr.coef)

[1.01433536] [1.01433536]

In [74]:
print(sk_lr.predict(X)[:10], lr.predict(X)[:10])

[77.64201157 20.83923168 21.85356704 19.82489633 36.05426201 14.75321955
 62.42698124 95.90004796 19.82489633  4.609866  ] [77.64201157 20.83923168 21.85356704 19.82489633 36.05426201 14.75321955
 62.42698124 95.90004796 19.82489633  4.609866  ]

In [75]:
df_test=pd.read_csv("train.csv")
df_test.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [76]:
X_test=df["x"].values.reshape(-1,1)

In [77]:
print(lr.predict(X_test)[:5], sk_lr.predict(X_test)[:5])

[77.64201157 20.83923168 21.85356704 19.82489633 36.05426201] [77.64201157 20.83923168 21.85356704 19.82489633 36.05426201]

# Case - multi variable

In [78]:
df=pd.read_csv("mlr09.csv")
df.head()

,height_in_feet,weight_in_pounds,successful_field_goals,percent_of_successful_free_throws,average_points_scored
0,6.8,225,0.442,0.672,9.2
1,6.3,180,0.435,0.797,11.7
2,6.4,190,0.456,0.761,15.8
3,6.2,180,0.416,0.651,8.6
4,6.9,205,0.449,0.900,23.2

In [84]:
y=df["average_points_scored"].values
df.iloc[:,:-1].head()

,height_in_feet,weight_in_pounds,successful_field_goals,percent_of_successful_free_throws
0,6.8,225,0.442,0.672
1,6.3,180,0.435,0.797
2,6.4,190,0.456,0.761
3,6.2,180,0.416,0.651
4,6.9,205,0.449,0.900

In [87]:
X=df.iloc[:,:-1].values
X[:5]

array([[  6.8  , 225.   ,   0.442,   0.672],
       [  6.3  , 180.   ,   0.435,   0.797],
       [  6.4  , 190.   ,   0.456,   0.761],
       [  6.2  , 180.   ,   0.416,   0.651],
       [  6.9  , 205.   ,   0.449,   0.9  ]])

In [89]:
mu_X = np.mean(X, axis=0)
std_X = np.std(X, axis=0)

rescaled_X = (X - mu_X) / std_X
rescaled_X[:5]

array([[ 0.46843663,  0.50336336, -0.12692668, -0.70404955],
       [-0.63137111, -0.99746237, -0.25187012,  0.55584824],
       [-0.41140956, -0.66394554,  0.12296022,  0.19299768],
       [-0.85133266, -0.99746237, -0.59100234, -0.91571238],
       [ 0.68839818, -0.1636703 , -0.00198323,  1.59400403]])

In [90]:
lr.fit(rescaled_X, y)

In [91]:
lr.coef

array([-1.67779283,  0.28359762,  2.68586629,  1.12816882])

In [92]:
lr.intercept

11.790740740740738

In [93]:
sk_lr.fit(rescaled_X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [94]:
sk_lr.coef_

array([-1.67779283,  0.28359762,  2.68586629,  1.12816882])

In [95]:
sk_lr.intercept_

11.790740740740736